:root {
    --standard-blue: rgb(0, 136, 255);
    --darker-standard-blue: rgb(0, 112, 192);
    --lighter-standard-blue: rgb(0, 168, 255);

    --standard-gray: rgb(230, 230, 230);
    --darker-standard-gray: rgb(200, 200, 200);
    --lighter-standard-gray: rgb(250, 250, 250);
    --less-lighter-standard-gray: rgb(235, 235, 235);

    --danger-red: rgb(255, 81, 81);


    --field-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
}

main, header, footer {
    display: flex;
}

header, footer {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: var(--lighter-standard-blue);
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}    

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

main {
    padding: 10vw 0;
}

#search-engine {
    width: 100%;
    margin: auto;
}

.search-bar {
    position: relative;
    display: block;
    margin: 1%;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 1em;
    font-size: 22px;
    border-radius: 2em;
    background-color: var(--lighter-standard-gray);
}

.search-form {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
}

.search-form input, .btn {
    border: 0;
    box-shadow: var(--field-shadow);
}

.btn {
    border: 0;
    margin: 1%;
    width: fit-content + 50px;
    height: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: var(--lighter-standard-gray);
}

.btn:hover {
    background-color: var(--standard-blue);
    cursor: pointer;
}

.logo-big {
    display: block;
    width: 15vw;   
    height: auto;
    margin: auto;
    margin-bottom: 5vh;
}

.logo-small {
    display: block;
    width: 5vw;
    height: auto;
    margin: auto 50%;
}

.search-btn {
    background-image: url("img/icons/search.png");
}

.reset-btn {
    background-image: url("img/icons/cross.png");
}

.reset-btn:hover {
    background-color: var(--danger-red);
    cursor: pointer;
}

.search-by.btn:hover {
    background-color: var(--standard-gray);
}

.field {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.err-msg {
    color: var(--danger-red);
    text-align: center;
}

.search-by {
    width: 20%;
    padding-left: 1em;
    font-size: 22px;
}

#results {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#result {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-radius: 1.5em;
    text-align: center;
    width: 20vw;
    margin: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--less-lighter-standard-gray);
    box-shadow: var(--field-shadow);
}

.card:hover {
    background-color: var(--standard-gray);
    cursor: pointer;
}

.icon {
    width: 1.5em;
    height: auto;
    margin: 0 0.5em;
    align-self: baseline;
    filter: drop-shadow(var(--field-shadow));
}

.flag {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    border-radius: 1.5em;
}

.suggestions {
    z-index: 2;
    position: absolute;
    width: fit-content;
    /* bottom: 0px; */
    background-color: white;
    box-shadow: var(--field-shadow);
}

ul {
    list-style: none;
}

li {
    padding: 0.25em 1em;
    user-select: none;
}

li:hover {
    background-color: var(--lighter-standard-blue);
}

.no-results {
    color: var(--danger-red);
    text-align: center;
    font-size: 3em;
}

.card a {
    border: 3px solid;
    border-color: var(--darker-standard-gray);
    background-color: var(--darker-standard-gray);
    padding: 5px;
    border-radius: 1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}